@{
    ViewData["Title"] = "Достъпът е отказан";
}

<div class="cp-denied-wrap">
    <div class="cp-denied-inner">
        <div class="cp-denied-icon-wrap">
            <svg class="cp-denied-svg" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 0 1 5.11 6.524L13.476 14.89zm1.414-1.414A6 6 0 0 0 6.524 5.11L14.89 13.476zM18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="cp-denied-title">Достъпът е отказан</div>
        <div class="cp-denied-sub">
            Нямате необходимите права за достъп до тази страница.<br />
            Свържете се с администратора ако смятате, че това е грешка.
        </div>
        <a href="/" class="cp-btn cp-btn-primary">← Към начало</a>
    </div>
</div>
